/** Custom style **/

.fusion-prev {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.feature-slide {
  height: 325px;
}

.carousel-slide-control {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #fff;
}

.carousel-left {
  left: 0;
}

.carousel-right {
  right: 0;
}

.carousel-chevron {
  position: relative;
  top: 46%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px !important;
  background-color: #000;
  opacity: 0;
}

.carousel-chevron:hover {
  opacity: 1;
}
.carousel-indicators > li {
    width: 6px;
    height: 6px;
}
.carousel-indicators .active{
    width: 8px;
    height: 8px;
}
.fusion-date-and-formats{
        float: left;
    margin-right: 17px;
    width: 82px;
    text-align: center;
}
.fusion-date-box {
    padding: 8px 0 5px;
    color: #fff;
    display: block;
    background-color: #a0ce4e;
    border-color: #a0ce4e;
}
.fusion-format-box {
    margin-top: 3px;
    background-color: #eef0f2;
    color: #a0ce4e;
}
.fusion-date {
    display: block;
    line-height: 29px;
    font-size: 29px;
    font-weight: 700;
}
.fusion-format-box i {
    display: block;
    line-height: 55px;
    font-size: 30px;
}
.fusion-post-title{
    margin-left: 100px;
}
.fusion-entry-title{
        color: #475b6f;
    font-size: 18pt;
    font-weight: 700;
    margin-top: 30px;
}